.container{
    width: 100%;
    box-sizing: border-box  ;
    padding: 0 80px;
}
.body-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 80px;
    box-sizing: border-box;
}