.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px auto;
    
}
.nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.select-bar{
    color: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-shadow: inherit;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    
}
.select-bar:hover{
    cursor: pointer;
}
.nav__logo{
    margin-left: 80px; 
}

.nav__item{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav__item > a{
    display: flex;
    align-items: center;
    gap: 4px;
}
.nav__item select{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.nav__item a{
    text-decoration: none;
    color: black;
}
.nav__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px #E7E8E3;
    box-shadow: 0 2px  #E7E8E3;
    

}
.nav__actions{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right:80px ;
    max-width: 276px;
    width: 100%;
}
.cart{
    width: 100px;
    height: 42px;
    background-color: #fff;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}
.property{
    width: 160px;
    height: 42px;
    background-color: #CF6F49;
    color: #fff;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cart:hover{
    cursor: pointer;
    background-color: #CF6F49;
    color: #fff;
}
.cart:active{
    transform: scale(1.1);
    transition: 0.2s;
}
.property:hover{
    cursor: pointer;
    background-color: #CF6F49;
}
.property:active{
    transform: scale(1.1);
    transition: 0.2s;
}
.hero{
    background-color: #f5f6f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__content{
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero__heading{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 56px;
    line-height: 67px;
    max-width: 516px;
}
.hero-info{
    font-size: 14px;
    line-height: 21px;
    background-color:#E7E8E3 ;
    max-width: 171px;
    border-radius: 32px;
    text-align: center;
    padding: 4px 0;
}
.hero__text{
    font-size: 20px;
    line-height: 30px;
    color: #65665C;
    max-width: 503px;
}
.search-form{
    display: flex;
    align-items: center;
    gap: 16px;
}
.search__text{
    width: 310px;
    height: 48px;
    border: 1px #E7E8E3;
    border-radius: 6px;
    position: relative;
    font-size: 20px;
}
.search__image{
    position: absolute;
    z-index: 1;
    padding-left: 16px;
}
.submit__btn{
    width: 154px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #CF6F49;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.submit__btn:active{
    transform: scale(1.1)
    ;transition: 0.2s;

}
.submit__btn:hover{
    cursor: pointer;
}
.body__information{
    margin: 140px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}
.body-info{
    max-width: 768px;
    text-align: center;
}
.body-info__heading{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 21px;
}
.body-info__text{
    font-size: 18px;
    max-width: 754px;
    line-height: 27px;
    color: #65665C;
}
.advantages{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 90px;
}
.advantages-info{
    box-sizing: border-box;
    width: 405px;
    height: 291px;
    border: 1px solid #E7E8E3;
    border-radius: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 24px;
    padding-top: 50px;
}
.advantages-img{
    background-color: #FAE8E1;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.advantages-heading{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}
.advantages-text{
    font-size: 16px;
    line-height: 24px;
    color: #65665C;
    max-width: 340px;
}
.body-container_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}
.body-container-info{
    font-size: 14px;
    line-height: 21px;
    background-color:#E7E8E3 ;
    max-width: 107px;
    border-radius: 32px;
    text-align: center;
    padding: 4px 0;
}
.body-container__heading{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    max-width: 453px;
}
.body-container__text{
    font-size: 18px;
    line-height: 27px;
    color: #65665C;
    max-width: 520px;
}
.body-container__btn{
    width: 192px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #E7E8E3;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #fff;
}
.body-container__btn:hover{
    cursor: pointer;
    background-color: #cacaca96;
}
.body-container__btn:active{
    transform: scale(1.1);
    transition: 0.2s;
}
.body-container__actions{
    display: flex;
    align-items: center;
    gap: 24px;
}
.body-container__link{
    text-decoration: none;
    color: black;
}
.body-container-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px ;
}
.forward-adv{
    display: flex;
    align-items: center;
}
.body-container-2__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.second{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    border: none;
}
.secondh{
    max-width: 485px;
}
.secondp{
    max-width: 600px;
}
.secondt{
    max-width: 245px;
}
.thirdt{
    max-width: 281px;
}
.favourite-body{
background-color: #F5F5F2;
}
.angle1{
    width: 100%;
    max-height: 135px;
    display: flex;
    justify-content: end;
}
.favourite_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 21px;
}
.favourite-text{
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    width: 92px;
    height: 30px;
    background-color: #E7E8E3;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favourite-heading{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}
.rec{
    width: 406px;
    height: 460px;
    background-color: #fff;
    border-radius: 0 0 32px 32px;
    
}
.rec-line{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 32px;
}
.second-line{
    margin-top: 32px;
}
.rec__info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px
    
}
.rec__content{
    margin-bottom: 16px;
    margin-left: 24px;
}
.rec__info > p{
    font-size: 16px;
    line-height: 24px;
    color: #65665C;
    
}
.rec__info > img{
    margin-left: 24px;
}
.rec__heading{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 4px;
    margin-top: 24px;
}
.rec__price{
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
}
.rec__link{
    font-size: 18px;
    line-height: 24px;
    color:#65665C ;
    text-decoration: none;
    display: inline-block; 
    margin-left: 16px;
}
.rec-loc__img{
    margin-left: 24px;
}
.second-action{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.angle2{
    width: 100%;
    height: 135px;
    align-items: center;
    justify-content: left;
    display: flex;

}
